*{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  overflow: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

button:hover{
 cursor: pointer;
}


:root{
  --background-color-nav: #0061C2;
  --background-color-nav-button: #3A7EC2;
  --background-color-button: linear-gradient(to right, #0061C2, #3A7EC2, #0061C2);
}